@import "tailwindcss";

@theme {
  /* --font-family-display: "Satoshi", "sans-serif"; */

  --breakpoint-3xl: 1920px;

  --color-neon-pink: oklch(71.7% 0.25 360);
  --color-neon-lime: oklch(91.5% 0.258 129);
  --color-neon-cyan: oklch(91.3% 0.139 195.8);
  --color-neon-purple: #d4a6f1;
  --padding-new: 1.5rem; /* 24px */

  --radius-25: 0.25rem; /* 4px */
}